.listStart{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: green;
   
}
.listStart__li{
    margin:0 .1rem;
}
.bi-star,.bi-star-fill{
    font-size: 1.7rem;
}
.bi-star-fill{
    color: yellow;
}

.bi-star{
    &:hover{
        color: yellow; 
        transform: scale(1.2);
        transition: transform .3s ease-in;
    
    }
}

[type=checkbox]{
    width: 0;
    height: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow{
    color: yellow;
}
.red{
    color: red;

}