@import"../../../../styles/variables";
.listStart{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: $color-black;
   
}
.listStart__li{
    margin:0 .2rem;
    &::before{
        color: $color-white;
    }
}
.bi{
    cursor: pointer;   
}
.bi-star,.bi-star-fill{
    font-size: 1.7rem;
}
.bi-star-fill{
    color: yellow;
}
.voted{
    cursor: auto;
}

.bi-star{
    &:hover{
        transform: scale(1.2);
        transition: transform .3s ease-in;
    }
}
.yellow{
    color: yellow;
}