@import '../../../../styles/variables';
.list{
    margin: 0;
    padding: 0;
    display: flex;    
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list__item{
    width: 75%;
    background-color: rgb($color-white,75%);
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    position: relative;
}
.figure{
    position: absolute;
    bottom: 14rem;
    right: -1rem;
    width: 30%;
    height: auto;
    background-color: transparent;
    filter: drop-shadow(1.2rem 0 .33rem);
}
@media #{$phones}{
    .list__item{
        width: 45%;
    }
}
@media  #{$landscape-phones}{
    .list{
       padding: 1rem;
    }
    .list__item{
        width: 35%;
    }
   
}

@media  #{$tablets}{
    .list__item{
    }
    .figure{
       right: -3rem;
    }
  
}
@media  #{$desktops}{
    .list__item{
        width: 26%;
    }
   
}
@media  #{$large-desktops}{
   
}
@media  #{$extra-large-desktops}{
}
@media  #{$four-k}{
   
}