@import '../../../../styles/variables';
.list{
    margin: 0;
    padding: 0;
    display: flex;    
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list__item{
    width: 90%;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
}
@media #{$phones}{
    .list__item{
        width: 45%;
    }
}
@media  #{$landscape-phones}{
    .list{
       padding: 1rem;
    }
    .list__item{
        width: 35%;
    }
   
}

@media  #{$tablets}{
    .list__item{
    }
  
}
@media  #{$desktops}{
    .list__item{
        width: 26%;
    }
   
}
@media  #{$large-desktops}{
   
}
@media  #{$extra-large-desktops}{
    .list__item{
    }
}
@media  #{$four-k}{
    .list__item{
        width: 18%;
    }
}