:host{
    &:first-of-type{
        margin-bottom: 1.5rem;
    }
    display: block;
    display: flex;
    flex-direction: column;
}
.file{
    margin-bottom: .6rem;
    flex: 1 1;
}
[type="email"],[type="password"]{
    background-color: transparent;
    border: 0 ;
    border-bottom:.1rem solid black;
   
}