@import '../../../../styles/variables';
:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 2rem;
}
.data{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.year,.runtime{
    color:rgb(129, 125, 125);
    margin-bottom: 0;
}

.year2,.runtime2{
    margin-top: 0;
}
.clasif{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background: linear-gradient(to left,red 50%, green 50%);
}

.header{
    height: 17rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
}
.container{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 1.2rem .5rem 0;
}
